* {
  @apply border-default;
}

.CodeMirror-fullscreen {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 9;
}

body {
  @apply bg-lighter text-default;
  font-family: 'Inter', sans-serif;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scroll::-webkit-scrollbar {
  width: 7px;
  height: 9px;
}

.scroll::-webkit-scrollbar-thumb {
  @apply bg-input-dark;
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

.Vue-Toastification__toast {
  font-family: inherit !important;
}

.CodeMirror {
  font-size: 16px;
  height: 100% !important;
  font-family: 'Fira Code', Menlo, Consolas, 'DejaVu Sans Mono', monospace !important;
}
