@font-face {
  font-family: Inter;
  font-weight: 100 500 600 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/InterVariable.woff2") format("woff2");
}
