/* purgecss ignore */

$types: primary, warning, danger;

.button-ui {
  @apply duration-200 px-2 rounded-lg font-semibold;
  transition-property: background-color, border-color, color, fill, stroke, box-shadow;
  transition-timing-function: ease;
  line-height: 2.5rem;
  &__text {
    position: relative;
    display: inline-block;
  }
  &.default {
    @apply bg-input;
    &:hover {
      @apply bg-input-dark #{!important};
    }
  }
  &.disabled {
    pointer-events: none;
    @apply bg-light text-default #{!important};
    opacity: 0.7;
  }
  &.round {
    @apply rounded-full #{!important};
  }
  &.large {
    line-height: 3rem;
    @apply px-5 text-base;
  }
  &.small {
    @apply px-2;
    &.icon {
      .mdi-icon{
        height: 18px;
        width: 18px;
      }
    }
    line-height: 1.9rem #{!important};
    &__text {
      @apply text-sm;
    }
  }
  &.icon {
    @apply p-2 #{!important};
    line-height: 0 !important;
    svg {
      text-align: center;
    }
  }
  &.plain {
    background-color: transparent !important;
    @each $type in $types {
      &.#{$type} {
        color: var(--#{$type});
      }
    }
  }
  &.block {
    display: block;
    width: 100%;
  }
  &.primary,
  &.danger, {
    color: white;
    &:not(.plain):hover {
      filter: brightness(1.07);
    }
  }
  @each $type in $types {
    &.#{$type} {
      @apply bg-#{$type};
      &.plain:hover {
        color: white;
        @apply bg-#{$type} #{!important};
      }
    }
  }
}
