.input-ui {
  @apply rounded-lg;
  display: inline-block;
  transition-timing-function: ease;
  transition-property: background-color, border, border-color;
  transition-duration: 200ms;
  &--container {
    @apply px-3;
    display: flex;
    align-items: center;
  }
  &.textarea {
    @apply p-3;
    min-height: 26px;
    &:focus {
      outline: none;
    }
  }
  .mdi-icon {
    @apply mr-2 text-light;
  }
  input {
    background-color: transparent;
    line-height: 2.5rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &.block {
    width: 100%;
    display: block;
  }
  &.background {
    @apply bg-light;
  }
  &.large input {
    @apply px-1;
    line-height: 3rem;
  }
  &.default {
    @apply bg-input;
  }
  &.outline {
    @apply border-2;
    background-color: transparent !important;
  }
  &:focus-within,
  &:hover {
    @apply bg-input-dark;
  }
}
