.progress-ui {
  display: inline-block;
  &.block {
    display: block;
    width: 100%;
  }
  &--wrapper {
    @apply rounded-lg;
    background-color: hsla(0, 0%, 100%, 0.05);
    min-width: 150px;
    overflow: hidden;
  }
  &--inner {
    transition: width 0.5s cubic-bezier(0.46, 0.47, 0, 1);
    @apply rounded-lg h-full bg-primary;
  }
}
