.trigger {
  width: 100%;
  .select-ui.block {
    width: 100%;
  }
}
.tooltip.popover.vue-popover-theme.open {
  z-index: 20;
}
.select-ui {
  @apply px-3 py-2 rounded-lg border bg-input;
  cursor: pointer;
  display: inline-block;
  &--inner {
    display: flex;
    align-items: center;
    .text {
      flex-grow: 1;
      @apply mr-2;
    }
  }
  &.block {
    display: block;
    width: 100%;
  }
  &:hover,
  &:focus {
    @apply bg-input-dark;
    outline: none;
  }
}
