.switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 47px;
  &:hover {
    .slider:before {
      border: 1px solid var(--primary);
    }
  }
  .switch-input {
    display: none;
    &:checked + .slider {
      @apply bg-primary text-default;
      content: 'oui';
    }
    &:checked + .slider:before {
      transform: translateX(22px);
    }
  }
  .slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    @apply transition-colors transition-transform bg-light;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
    &:before {
      @apply shadow;
      background-color: white;
      content: '';
      height: 20px;
      position: absolute;
      @apply transition-colors transition-transform;
      transition-duration: 0.4s;
      transition-timing-function: ease;
      width: 20px;
      left: 4px;
      bottom: 3px;
    }
  }
}
