.tag-ui {
  @apply px-2 border rounded text-sm;
  line-height: 1.8rem;
  display: inline-block;
  cursor: pointer;
  transition: background-color .2s ease;
  &.default {
    @apply bg-lighter;
  }
  &.primary {
    background-color: rgba(0, 82, 204, 0.2);
    border-color: rgba(0, 82, 204, 0.7);
    @apply text-primary;
  }
  &__content {
    max-width: 80px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
  svg {
    height: 16px;
    width: 16px;
    @apply ml-2;
  }
}
