/* purgecss start ignore */
@import 'highlight.js/scss/atom-one-dark.scss';
/* purgecss end ignore */

$headers: (h1: 'text-3xl', h2: 'text-2xl', h3: 'text-xl', h4: 'text-lg', h5: 'text-base', h6: 'text-sm');

.markdown-content{
  h1, h2, h3, h4, h5, h6{
    @apply font-bold my-5;
  }
  blockquote, dl, dd, hr, figure, p, pre{
    @apply my-5;
  }
  @each $header, $size in $headers{
    #{$header}{
      @apply #{$size};
    }
  }
  a{
    @apply text-primary;
    &:hover{
      text-decoration: underline;
    }
  }
  pre, code{
    font-family: 'Fira Code', monospace;
    @apply bg-light rounded-lg;
  }
  img{
    max-width: 100%;
  }
  pre{
    @apply py-4 px-6;
    code{
      padding: 0;
    }
  }
  code{
    @apply px-3 py-2;
  }
  blockquote{
    @apply border-l-4 border-primary px-5;
  }
  table{
    table-layout: auto;
    *{
      border-color: rgba(255, 255, 255, 0.24);
    }
    th, td{
      @apply px-3 py-2 border;
    }
    tr:nth-child(odd){
      @apply bg-light;
    }
  }
  ol{
    padding: auto;
    list-style: decimal;
  }
  li{
    list-style-position: inside;
    p{
      display: inline-block;
    }
  }
  ul ul{
    @apply pl-6
  }
  ul{
    list-style: disc;
  }
}
